.task {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;

  overflow: hidden;
  border-bottom: 1px solid #eee;
}

.task__check {
  margin: 0 10px;
  cursor: pointer;
}

.task__input,
.task__label {
  display: inline-block;
  width: 56%;
  flex-grow: 1;
}

.task__icon {
  height: 2em;
  transform: rotateZ(45deg);
  transition: transform 200ms ease-in;
}

.task__icon:hover {
  transform: rotateZ(0);
}

.task_edit .task__input {
  display: inline-block;
  width: 224px;
}

.task__input,
.task_edit .task__label {
  display: none;
}

/*
--------------
Misc
--------------
*/
.add-task__group {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 20px 0;
}

.add-task__input {
  flex-grow: 1;
}

.completed__tasks .task__label {
  color: #888;
  text-decoration: line-through;
}